<div class="row">
  <div class="col-md-12">
      <form [formGroup]="form" (ngSubmit)="calcular()">
          <div class="mb-3">
              <label for="altura" class="form-label">Altura</label>
              <input formControlName="altura" type="number" class="form-control">
              <div style="color: red;" *ngIf="form.get('altura').invalid && (form.get('altura').dirty || form.get('altura').touched)">
                <div *ngIf="form.get('altura').errors['min']">O valor mínimo é 0.01</div>
                <div *ngIf="form.get('altura').errors['max']">O valor máximo é 3</div>
            </div>

          </div>
          <div class="mb-3">
              <label for="peso" class="form-label">Peso</label>
              <input formControlName="peso" type="number" class="form-control">
              <div style="color: red;" *ngIf="form.get('peso').invalid && (form.get('peso').dirty || form.get('peso').touched)">
                  <div *ngIf="form.get('peso').errors['min']">O valor mínimo é 1</div>
                  <div *ngIf="form.get('peso').errors['max']">O valor máximo é 500</div>
              </div>
          </div>

          <button [disabled]="form.invalid" class="btn btn-primary" type="submit" onclick="calcular()">Calcular</button>
          <p></p><br>
          <p>O imc é: {{imc}}</p>
          <p>Tipo: {{tipo}}</p>

      </form>
  </div>
</div>
